.u-section-1 {background-image: none; min-height: 607px}
.u-section-1 .u-layout-wrap-1 {margin: 0 auto 0 0}
.u-section-1 .u-layout-cell-1 {min-height: 607px}
.u-section-1 .u-container-layout-1 {padding: 3px 0 30px}
.u-section-1 .u-group-1 {min-height: 607px; background-image: none; margin: -3px auto -30px 0}
.u-section-1 .u-container-layout-2 {padding: 30px}
.u-section-1 .u-image-1 {width: 464px; height: 85px; object-position: 50% 39.75%; margin: 0 auto}
.u-section-1 .u-text-1 {background-image: none; width: 445px; margin: 33px auto 0}
.u-section-1 .u-layout-cell-2 {min-height: 607px}
.u-section-1 .u-container-layout-3 {padding: 4px 0 30px}
.u-section-1 .u-group-2 {min-height: 607px; background-image: none; margin: -4px auto -30px}
.u-section-1 .u-container-layout-4 {padding: 30px}
.u-section-1 .u-text-2 {width: 140px; margin: 0 auto}
.u-section-1 .u-form-1 {height: 203px; width: 590px; margin: 10px auto 0}
.u-section-1 .u-label-1 {font-size: 0.625rem}
.u-section-1 .u-input-1 {font-size: 0.75rem}
.u-section-1 .u-label-2 {font-size: 0.625rem}
.u-section-1 .u-input-2 {font-size: 0.75rem}
.u-section-1 .u-form-group-3 {margin-top: 0; margin-bottom: 22px}
.u-section-1 .u-btn-1 {border-style: solid; font-size: 0.75rem; padding: 5px 70px}
.u-section-1 .u-text-3 {background-image: none; margin: 22px 10px 0} 

@media (max-width: 1199px){ .u-section-1 {min-height: 100px}
.u-section-1 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-cell-1 {min-height: 501px}
.u-section-1 .u-group-1 {margin-right: initial; margin-left: initial}
.u-section-1 .u-image-1 {width: 410px; height: 75px}
.u-section-1 .u-text-1 {width: 410px}
.u-section-1 .u-layout-cell-2 {min-height: 501px}
.u-section-1 .u-group-2 {margin-right: initial; margin-left: initial}
.u-section-1 .u-form-1 {margin-top: -21px; width: 410px}
.u-section-1 .u-text-3 {margin-left: 0; margin-right: 0} }

@media (max-width: 991px){ .u-section-1 {min-height: 18px}
.u-section-1 .u-layout-cell-1 {min-height: 100px}
.u-section-1 .u-image-1 {width: 300px; height: 55px}
.u-section-1 .u-text-1 {width: 300px}
.u-section-1 .u-layout-cell-2 {min-height: 100px}
.u-section-1 .u-form-1 {width: 300px} }

@media (max-width: 767px){ .u-section-1 {min-height: 1482px}
.u-section-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-container-layout-4 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-1 {min-height: 1230px} }