body {
  /* default body text format */
  margin: 0;
  font-family:Arial, Helvetica, sans-serif;
  color: rgb(91, 167, 255);
  background-color: black;
  font-size:large;
}

p{
  /* default paragraph text format */
  color: white
}

ul.sidenav {
  /* main menu */
  list-style-type: none;
  margin: 0;
  padding: 0px;
  width: 25%;
  background-color:grey;
  position: fixed;
  height: 100%;
  overflow: auto;
  font-size: x-large;
}

ul.sidenav li a {
  /* main menu item*/
  display: block;
  color: white;
  padding: 4px 8px;
  text-decoration: none;
}
 
ul.sidenav li a.active {
  /* main menu selected page*/
  background-color:rgb(91, 167, 255);
  font-weight:bold;
  color: black;
}

ul.sidenav li a:hover {
  /* hover on an active sidenav button */
    background-color:rgb(0, 119, 255);
    color: black;
  }


ul.sidenav li a:hover:not(.active) { 
  /* hover on a non active sidenav button */
  background-color: #555;
  color: white;
}
 
ul.sidenav li a:hover:active { 
  /* click on any sidenav button */
  background-color:rgb(0, 119, 255);
  font-weight:bold;
  color: black;
  }

div.content {
  margin-left: 25%;
  padding: 1px 16px;
  height: 1000px;
}

@media screen {
  ul.sidenav {
    width: 100%;
    height: auto;
    position: relative;
  }
  
  ul.sidenav li a {
    float: left;
    padding: 15px;
  }
  
  div.content {margin-left: 0;}
}
input[type=submit] {
  /* submit button */
  background-color: ghostwhite;
  border: none;
  border-radius: 20px;
  color: blacks;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-weight: bold;
  font-size: large;
}

input[type=text] {
  /* textbox */
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid rgb(0, 119, 255);
  border-radius: 4px;
  background-color:darkslategray;
  color:white;
}

input[type=text]:focus {
  /* textbox selected */
  background-color: black;
}

.container_change_warmth {
  /* container for button relating to changing the warmth of a garment */
  border-radius: 5px;
  background-color: darkslateblue;
  padding: 20px;
}

.container_repopulate {
  /* container for button relating to repopulating the closet with garments */
  border-radius: 5px;
  background-color: rgb(0, 119, 255);
  padding: 20px;
}

.container_add {
  /* container for button relating to adding a garment */
  border-radius: 5px;
  background-color: green;
  padding: 20px;
}

.container_del {
  /* container for button relating to deleting a garment */
  border-radius: 5px;
  background-color: darkred;
  padding: 20px;
}

table {
  /* clothes table */
  border-collapse: collapse;
  width: 100%;
}

th, td {
  /* clothes table headers */
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){
  /* clothes table alternating rows */
  background-color: darkslateblue;
  color:white;
}

tr:nth-child(odd){
  /* clothes table alternating rows */
  color:white;
}

th {
  /* clothes table cell */
  background-color: rgb(0, 119, 255);
  color: black;
}
.container {
  /* default checkbox style modification */
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  /* Hide the browser's default checkbox */
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  /* Create a custom checkbox */
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.container:hover input ~ .checkmark {
  /* On mouse-over, add a light blue background color */
  background-color: skyblue;
}

.container input:checked ~ .checkmark {
  /* When the checkbox is checked, add a blue background */
  background-color: rgb(0, 119, 255);
}

.checkmark:after {
  /* Create the checkmark/indicator (hidden when not checked) */
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  /* Show the checkmark when checked */
  display: block;
}

.container .checkmark:after {
  /* Style the checkmark/indicator */
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
