body {
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(91, 167, 255);
    background-color: black;
    font-size:large;
  }
p{
color: white
}

ul.sidenav {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  width: 25%;
  background-color:grey;
  position: fixed;
  height: 100%;
  overflow: auto;
  font-size: x-large;
}

ul.sidenav li a {
  display: block;
  color: white;
  padding: 4px 8px;
  text-decoration: none;
}
 
ul.sidenav li a.active {
  background-color:rgb(91, 167, 255);
  font-weight:bold;
  color: black;
}

ul.sidenav li a:hover { /* hover on an active sidenav button */
    background-color:rgb(0, 119, 255);
    color: black;
  }


ul.sidenav li a:hover:not(.active) { /* hover on a non active sidenav button */
  background-color: #555;
  color: white;
}
 
ul.sidenav li a:hover:active { /* click on any sidenav button */
    background-color:rgb(0, 119, 255);
    font-weight:bold;
    color: black;
  }

div.content {
  margin-left: 25%;
  padding: 1px 16px;
  height: 1000px;
}

@media screen {
  ul.sidenav {
    width: 100%;
    height: auto;
    position: relative;
  }
  
  ul.sidenav li a {
    float: left;
    padding: 15px;
  }
  
  div.content {margin-left: 0;}
}
input[type=submit] {
    background-color: ghostwhite;
    border: none;
    border-radius: 20px;
    color: blacks;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
  }

input[type=text] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid rgb(0, 119, 255);
  border-radius: 4px;
  background-color:darkslategray;
  color:white;
}

input[type=text]:focus {
  background-color: black;
}

.container_change_warmth {
  border-radius: 5px;
  background-color: darkslateblue;
  padding: 20px;
}

.container_add {
    border-radius: 5px;
    background-color: green;
    padding: 20px;
  }

.container_del {
    border-radius: 5px;
    background-color: darkred;
    padding: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
  border-radius: 5px;
}

tr:nth-child(even){
  background-color: darkslateblue;
  color:white;
}

tr:nth-child(odd){
  color:white;
}

th {
  background-color: rgb(0, 119, 255);
  color: black;
}
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: rgb(0, 119, 255);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
