{% extends "base.html" %}

{% block title %} 
Login
{% endblock %}

{% set active_page = "login" %}


{% block page_content %}

<div class="container">
  <form class="form-signin" method="POST" action="/login">
    {{ form.hidden_tag() }} {{ wtf.form_errors(form, hiddens="only") }}
    <div class="form-group  required">
        <label class="control-label" for="username">Username</label>
        {{ form.username(class="form-control",id="username",required="required",type="text",value="",placeholder="Enter username") }}
    </div>
    <div class="form-group  required">
        <label class="control-label" for="password">Password</label>
        {{ form.password(class="form-control",id="password",required="required",type="password",value="",placeholder="Enter password") }}
    </div>
    <p>
        <label>
            <input id="remember_me" name="remember_me" type="checkbox" value="y" class="filled-in"/>
            <span>Remember me</span>
        </label>
    </p>
    <button class="btn btn-info col-md-6" type="submit">Sign in</button>
  </form>
</div> <!-- /container -->
{% endblock %}