{% extends 'base.html' %}
{% block head %} 
<title> My Closet </title>
{% endblock %}

{% block Closet %} 
class="active"
{% endblock %}


{% block body %} 
<h1> Welcome to your outdoors closet! </h1>
<p> Here, you can add your clothes to get your outfit suggestions using them. We've already added some clothes. Feel free to remove and add as you may.</p>
<form method="POST">    
    <table>
        <tr>
            <th><h2>Name</h2></th>
            <th><h2>Warmth</h2></th> 
        </tr>
        {% for item in closet.contents %}
        <tr>
            <td>
                <label class="container">{{ item.name }}
                    <input type="checkbox" name="check" value="{{ item.name }}">
                    <span class="checkmark"></span>
                </label>
            </td>
            <td>{{ item.warmth }}</td>
        </tr>
        {% endfor %} 
    </table>
    <div class="container_del">
        <p> Click the delete button to delete the selected items of clothing from your closet.</p>
        <input type="submit" name="btn" value="delete">
    </div>
</form> 
<br>
<br>
<div class="container_change_warmth">
    <form method="POST">
        <input type="text" placeholder="Name" name="name3" required>
        <br>
        <input type="text" placeholder="Warmth (4 space-seperated integers from 0 to 10 indicating warmth at head, top, bottom, and feet)" name="warmth3" required>
        <br>
        <p> Click the change warmth button to change this item's warmth.</p>
        <input type="submit" name="btn" value="change warmth">
    </form>
</div>
<br>
<br>
<div class="container_add">
    <form method="POST">
        <input type="text" placeholder="Name" name="name" required>
        <br>
        <input type="text" placeholder="Warmth (4 space-seperated integers from 0 to 10 indicating warmth at head, top, bottom, and feet)" name="warmth" required>
        <br>
        <p> Click the add button to add this item of clothing to your closet.</p>
        <input type="submit" name="btn" value="add">
    </form>
</div>
<br>
<br>
<div class="container_repopulate">
    <form method="POST">
        <p> Click to repopulate closet with generic clothes.</p>
        <input type="submit" name="repopulate" value="repopulate">
    </form>
</div>
<br>
<br>
<br>
<br>
{% endblock %}