{% extends "base.html" %}

{% block title %} 
Register
{% endblock %}

{% set active_page = "register" %}

{% block logo_color %}
"../static/images/ToWearLogo_Purple.png"
{% endblock %}

{% block page_content %}
<section class="u-clearfix u-grey-10 u-section-1" id="sec-4ce6">
  <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
    <div class="u-layout">
      <div class="u-layout-row">
        <div class="u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-1">
          <div class="u-container-layout u-container-layout-1">
            <div class="u-align-center u-container-style u-custom-color-1 u-expanded-width u-group u-group-1">
              <div class="u-container-layout u-valign-middle u-container-layout-2" style="height:89.5vh">
                <img src="../static/images/ToWearLogo.png" alt="" class="u-image u-image-default u-image-1" data-image-width="855" data-image-height="418">
                <p class="u-text u-text-1">Glad you're here. ToWear is an application that suggests outfits to users from their closets based on fashion and weather. Register to begin.<br>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-2">
          <div class="u-container-layout u-container-layout-3">
            <div class="u-align-center u-container-style u-palette-4-base u-expanded-width u-group u-group-2">
              <div class="u-container-layout u-valign-middle u-container-layout-4" style="height:89.5vh">
                <div class="u-form u-form-1">
                    <form class="form-signup u-clearfix u-form-spacing-22 u-inner-form" style="padding: 10px" method="POST" action="/register">
                      {{ form.hidden_tag() }} {{ wtf.form_errors(form, hiddens="only")}}
                      <div class="form-group u-form-email required u-form-group" style="margin-bottom: -35px;">
                        {{ wtf.form_field(form.email, class='u-palette-3-base u-input u-input-round u-text-white u-input-1', type='email', placeholder='Email', id='email', value="")|safe}}
                      </div>
                      <div class="form-group required u-form-group" style="margin-bottom: -35px;">
                        {{ wtf.form_field(form.username, class='u-palette-3-base u-input u-input-round u-text-white u-input-1', type='text', placeholder='Username', id='username', value="")|safe}}
                      </div>
                      <div class="form-group required u-form-group">
                        {{ wtf.form_field(form.password, class='u-palette-3-base u-input u-input-round u-text-white u-input-1', type='password', placeholder='Password', id='password', value="")|safe}}
                      </div>
                      <button class="u-active-palette-5-light-2 u-border-0 u-btn u-btn-round u-btn-submit u-button-style u-hover-palette-5-light-3 u-text-black u-white u-btn-1" type="submit">Register</button>
                    </form>
                </div>
                <p class="u-res-move-started u-text u-text-3">Already have an account? <u>
                  <a href={{ url_for('login') }}>Log in here</a></u>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}