{% extends "base.html" %}

{% block description %} 
Register with ToWear and start the change!
{% endblock %}

{% block title %} 
Register
{% endblock %}

{% set active_page = "register" %}

{% block page_content %}
<div class="container">
  <form class="form-signin" method="POST" action="/register">
    {{ form.hidden_tag() }} {{ wtf.form_errors(form, hiddens="only") }}
    <div class="form-group  required">
        {{  wtf.form_field(form.email,class="validate",for="email", id="email",type="email",value="",placeholder="Enter email") }}
        <span class="helper-text" data-error="wrong" data-success="right"></span>
    </div>
    <div class="form-group  required">
        {{ wtf.form_field(form.username,class="form-control",id="username",type="text",value="",placeholder="Enter username") }}
    </div>
    <div class="form-group  required">
        {{ wtf.form_field(form.password,class="form-control",id="password",type="password",value="",placeholder="Enter Password") }}
    </div>
    <button class="btn btn-info col-md-6" type="submit">Sign up</button>
  </form>
</div>
{% endblock %}